.register {
  margin: auto;
  width: 40%;
  margin-top: 50px;
  color: white;
  .box1 {
    border-radius: 10px;
    background-image: linear-gradient(to right, blue, blueviolet);
    text-align: center;
    padding: 30px;
    h1 {
      color: white;
    }
    .link {
      color: white;
    }
  }
}
